<div
  class="container-fluid p-0 d-flex align-items-center justify-content-center"
  style="
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url('/assets/images/bg2.jpg');
    background-size: cover;
    height: 96vh;
  "
>
  <div class="row justify-content-center m-0">
    <div class="p-0">
      <h2 class="text-center mt-5">Keep in touch?</h2>
      <form class="contact-form p-5">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="name" class="text-dark">Name</label>
              <input
                type="text"
                id="name"
                placeholder="Name"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="email" class="text-dark">Email</label>
              <input
                type="email"
                id="email"
                placeholder="Email"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <div class="form-group mt-5">
          <label for="message" class="text-dark">Message</label>
          <textarea
            id="message"
            rows="4"
            placeholder="Tell us your thoughts and feelings..."
            class="form-control"
          ></textarea>
        </div>
        <div class="mt-5">
          <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
        </div>
      </form>
    </div>
  </div>
</div>
