<div class="container-fluid about-us-section">
  <div class="container">
    <div class="mt-5 d-flex justify-content-center">
      <img
        src="/assets/images/category4.jpg"
        alt="Team Member"
        class="img-fluid"
      />
      <div class="m-5">
        <h3>About Us</h3>
        <p>
          Our company was established in 2005 with a vision to provide the best
          products and services to our customers.<br />
          We operate with an innovative and dynamic team, always prioritizing
          customer satisfaction.<br />
          Our goal is to constantly work towards providing the best experience
          for our customers and exceeding their expectations.<br />
          At our core, we are driven by a passion for innovation and a
          commitment to excellence. With a team of dedicated professionals, we
          strive to redefine industry standards and create meaningful
          experiences for our customers.<br />
          Our journey is marked by resilience, creativity, and a relentless
          pursuit of perfection. We are not just a company; we are a community
          united by a shared vision and a common purpose. <br />Join us as we
          continue to push boundaries, inspire change, and make a positive
          impact on the world.
        </p>
      </div>
    </div>
    <div class="mt-5 row">
      <div class="col-lg-4 about-us-content">
        <img
          src="/assets/images/category4.jpg"
          alt="Team Member"
          class="img-fluid"
        />
        <h2>Our Story</h2>
        <p>
          Our company started in a small workshop back in 2005. Since our
          establishment, we have been striving for continuous growth and
          improvement. With our customer-focused approach, we have become a
          recognized brand in the industry. Upholding our principles and the
          value of honesty, we continue our journey. We are committed to adding
          value to our customers and earning their trust in the future.
        </p>
      </div>
      <div class="col-lg-4 about-us-content">
        <img
          src="/assets/images/category4.jpg"
          alt="Team Member"
          class="img-fluid"
        />
        <h2>Our Mission</h2>
        <p>
          Our mission is to make our customers' lives easier and build a better
          future by providing them with high-quality products and services.
          Customer satisfaction and trust are always our top priorities. We aim
          to create a sustainable business structure while being conscious of
          our responsibilities to society and the environment.
        </p>
      </div>
      <div class="col-lg-4 about-us-content">
        <img
          src="/assets/images/category4.jpg"
          alt="Team Member"
          class="img-fluid"
        />
        <h2>Our History</h2>
        <p>
          Our company started in a small workshop back in 2005. Since our
          establishment, we have been striving for continuous growth and
          improvement.
        </p>
      </div>
    </div>
  </div>
</div>
