<section class="mb-8">
  <div
    class="page-header py-5 py-md-0 d-flex justify-content-center align-items-center"
    [style.backgroundImage]="'url(assets/images/bg2.jpg)'"
    style="
      height: 96vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
  >
    <span class="mask bg-black opacity-6"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-sm-9 text-center mx-auto">
          <h1 class="text-white mb-4">Welcome to TrendyCloset</h1>
          <p class="lead text-white mb-sm-6 mb-4">
            Discover the latest trends and elevate your style. In a world where
            uniqueness is often shunned, we embrace it. Embrace your
            individuality. Stand out with TrendyCloset.
          </p>
          <button class="btn btn-dark text-white btn-lg">
            Explore New Arrivals
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container mt-5">
  <div class="d-block text-center mb-5">
    <h3>Shop by category</h3>
    <a class="text-dark font-weight-bold" routerLink="/"
      >Browse all categories &gt;</a
    >
  </div>
  <div class="row mb-5">
    <div class="col-md-6 col-lg-3">
      <div class="card card-background align-items-start mb-4 mb-lg-0">
        <div
          class="full-background w-100"
          [style.backgroundImage]="'url(/assets/images/category1.jpg)'"
          style="
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          "
        >
          <div
            class="card-body text-center w-100 mt-5 pt-5 d-flex flex-column justify-content-between"
          >
            <div class="d-block mt-5 py-5">
              <p class="text-white font-weight-bold mb-1">Pre-fall</p>
              <h4 class="text-white font-weight-bolder">Silk Dresses</h4>
              <a href="#" class="text-white text-sm font-weight-semibold mb-0"
                >See products &gt;</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div
        class="card card-background align-items-start mb-4 mb-lg-0 undefined"
      >
        <div
          class="full-background h-100 w-100 rounded-top"
          [style.backgroundImage]="'url(/assets/images/category2.jpg)'"
          style="
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          "
        >
          <div class="card-body text-center w-100 mt-5 pt-5">
            <div class="d-block mt-5 py-5">
              <p class="text-white font-weight-bold mb-1">Designers</p>
              <h4 class="text-white font-weight-bolder">Suits</h4>
              <a
                routerLink="/"
                class="text-white text-sm font-weight-semibold mb-0"
                >See products &gt;</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div
        class="card card-background align-items-start mb-4 mb-lg-0 undefined"
      >
        <div
          class="full-background h-100 w-100 rounded-top"
          [style.backgroundImage]="'url(/assets/images/category3.jpg)'"
          style="
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          "
        >
          <div class="card-body text-center w-100 mt-5 pt-5">
            <div class="d-block mt-5 py-5">
              <p class="text-white font-weight-bold mb-1">Summer</p>
              <h4 class="text-white font-weight-bolder">Festival</h4>
              <a
                routerLink="/"
                class="text-white text-sm font-weight-semibold mb-0"
                >See products &gt;</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div
        class="card card-background align-items-start mb-4 mb-lg-0 undefined"
      >
        <div
          class="full-background h-100 w-100 rounded-top"
          [style.backgroundImage]="'url(/assets/images/category4.jpg)'"
          style="
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          "
        >
          <div class="card-body text-center w-100 mt-5 pt-5">
            <div class="d-block mt-5 py-5">
              <p class="text-white font-weight-bold mb-1">Sale</p>
              <h4 class="text-white font-weight-bolder">Showroom</h4>
              <a
                routerLink="/"
                class="text-white text-sm font-weight-semibold mb-0"
                >See products &gt;</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-products></app-products>
<section class="container-fluid mt-5 p-5" style="background-color: #f0f0f0">
  <div class="container p-5">
    <div class="row">
      <div class="col-12 col-lg-7 mx-auto text-center">
        <h2 class="mb-3">Latest Blog Post</h2>
        <p class="mb-5">
          Customer-Centric E-commerce Strategies: The Key to Success
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 pe-5">
        <h4 class="mb-3">
          Customer-Centric E-commerce Strategies: The Key to Success
        </h4>
        <p class="mb-3">
          The world of e-commerce is rapidly evolving, and competition is
          tighter than ever. In this competitive landscape, customer-centricity
          becomes the key to success. Understanding customer needs and
          delivering value to them is crucial to establishing and sustaining a
          successful e-commerce business.
        </p>
        <div class="d-flex flex-column mb-3">
          <h5>Prioritizing Customer Experience</h5>
          <p>
            Customer experience is a decisive factor in the success of
            e-commerce businesses. Making it easy for customers to navigate and
            find the products they're looking for on the website, as well as
            ensuring a seamless shopping process, enhances their satisfaction.
            Therefore, website design and usability should be prioritized to
            enhance the customer experience.
          </p>
        </div>
        <div class="d-flex flex-column mb-3">
          <h5>Personalized Marketing Strategies</h5>

          <p>
            Personalized marketing strategies are powerful tools for e-commerce
            businesses to increase customer loyalty and drive sales. Offering
            personalized product recommendations based on customer behavior and
            providing special discounts and offers based on their purchase
            history increases customer engagement and encourages repeat
            purchases.
          </p>
          <button class="btn btn-dark text-white btn-lg" routerLink="/blog">
            Read More
          </button>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col-12">
            <img
              class="w-100 max-height-100 rounded-3 mb-4"
              src="/assets/images/post.jpg"
              alt="first_image"
            />
          </div>
          <div class="col-6">
            <img
              class="w-100 max-height-150 rounded-3"
              src="/assets/images/post2.jpg"
              alt="third_image"
            />
          </div>
          <div class="col-6">
            <img
              class="w-100 max-height-150 rounded-3"
              src="/assets/images/category4.jpg"
              alt="fourth_image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-about-us></app-about-us>
<app-contact></app-contact>
